version: '3'

services:

  # Proxies requests to internal services
  nginx:
    #1.17.10
    image: nginx:1.17.10
    container_name: t024-nginx
    depends_on:
        - frontend
        - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80

  # generates frontend
  frontend:
    image: "417696335634.dkr.ecr.ap-northeast-1.amazonaws.com/mishkan-frontend:v3.4.5"
    depends_on:
        - backend
    ports:
      - 8080:80
    restart: on-failure

  backend:
    image: "417696335634.dkr.ecr.ap-northeast-1.amazonaws.com/mishkan-backend:v3.4.5"
    ports:
      - 5001:5001
    restart: on-failure
